/**
* @name ForestFrost
* @author 4n4#6254
* @authorId 812815155288473630
* @description Forest Frost is a Forest-based Discord Theme that's more on the roundy side.
* @invite R5Kvf7hEVk
* @source https://github.com/4n4hits/ForestFrost/
* @updateUrl https://github.com/4n4hits/ForestFrost/blob/main/ForestFrost.css
* @version 0.1
*/

@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

    .wordmark-2iDDfm {
      color: rgb(255, 255, 255);
      align-items:center;
      padding:0 6px;
      height:calc(100% + 4px);
      top:3px;
      width:fit-content;
      font-size:15px;
      font-weight:600;
      font-family: 'Discord';
    }

    .wordmark-2iDDfm > svg {
      display: none;
    }

    .wordmark-2iDDfm:after {
      content:'Forest Frost'; 
      color:grey;
      position:relative;
      top:1px;
    }


:root {
    --background:url('https://i.vgy.me/KfC0i2.jpg');
    --chat-transp:0.8;
    --sides-transp:0.9;
    --sides-blur:5px
}
#app-mount .container-1D34oG,.app-2rEoOp,.bg-h5JY_x,.chat-3bRxxu,.content-1o0f9g,.contentRegionScroller-26nc1e,.layer-3QrUeG,.members-1998pB>div,.scroller-1JbKMe,.applicationStore-1pNvnv,.scroller-305q3I,.sidebar-2K8pFh,.standardSidebarView-3F1I7i,.wrapper-1F5TKx,.wrapper-3NnKdC,.wrapper-3vR61M,body{background:0 0}.container-3w7J-x,.members-1998pB,.nowPlayingColumn-2sl4cE,.privateChannels-1nO12o,.sidebar-2K8pFh>.scrollerBase-289Jih,.sidebarRegionScroller-3MXcoP{background:rgba(47,49,54,var(--sides-transp))}.panels-j1Uci_{background:rgba(41,43,47,var(--sides-transp))}.scroller-1Bvpku,.withFrame-haYltI{background:rgba(32,34,37,var(--sides-transp))}.scroller-9moviB,#app-mount .pageWrapper-1PgVDX,.chatContent-a9vAAp,.contentRegion-3nDuYy,.header-2mZ9Ov::after,.peopleColumn-29fq28,.stickyHeader-hH_ZLl::after,.titleContainer-2CXtJo::after{background:rgba(54,57,63,var(--chat-transp))}.container-1r6BKw.themed-ANHk51{background:rgba(54,57,63,var(--sides-transp))}.container-1r6BKw.themed-ANHk51,.members-1998pB,.nowPlayingColumn-2sl4cE,.scroller-1Bvpku,.sidebar-2K8pFh,.sidebarRegionScroller-3MXcoP,.withFrame-haYltI{backdrop-filter:blur(var(--sides-blur))}#app-mount .children-19S4PO:after,#app-mount .form-2fGMdU:before{display:none}.appMount-3lHmkl{background:var(--background) center/cover no-repeat}.withFrame-haYltI{padding-top:4px;margin-top:0}#app-mount .sidebar-2K8pFh{border-radius:0}.content-1o0f9g{backdrop-filter:blur(5px)}.header-2mZ9Ov::before,.stickyHeader-hH_ZLl::before,.titleContainer-2CXtJo::before{background:var(--background) center/cover fixed}.header-2mZ9Ov::after,.header-2mZ9Ov::before,.stickyHeader-hH_ZLl::after,.stickyHeader-hH_ZLl::before,.titleContainer-2CXtJo::after,.titleContainer-2CXtJo::before{content:"";position:absolute;top:0;bottom:0;right:0;left:0;pointer-events:none;z-index:-1}


span.roleColor-rz2vM0::after {
    content: "";
    background: currentColor;
    width: 100%;
    height: 95%;
    position: absolute;
    opacity: 0.11;
    left: 0;
    top: 0;
    border-radius: 40px;
}

.layout-2DM8Md {
    border-radius: 40px;
}

.layout-2DM8Md{cursor: pointer}

.nowPlayingColumn-2sl4cE {
    opacity: 0.9;
}

.peopleListItem-2nzedh:hover {
  border-radius: 50px;
}

.scroller-1Bvpku {
  opacity: 0.9;
}

.auto-Ge5KZx {
  opacity: 0.89;
}

.searchBar-6Kv8R2 {
  box-shadow: -1px 2px 5px 0px black;
}

.container-1r6BKw {
  box-shadow: -1px 2px 5px 0px black;
}

#stage-discovery-tab {
  opacity: 0.9;
}

.nowPlayingSidebar-2OFn0o {
  opacity: 0.9;
}

.mainContent-u_9PKf {
  border-radius:50px;
}

.scrollableContainer-2NUZem {
  border-radius:50px;
}

.channelTextArea-rNsIhG {
  border-radius:50px;
}

.webkit-HjD9Er {
  opacity: 0.9;
}

.header-2V-4Sw {
    box-shadow: -1px 2px 5px 0px black;
}

html:root {
    --font-display: var(--font-primary);
}

      .wrapper-1BJsBx:hover .childWrapper-anI2G9{color: rgb(255,255,255);
       background-image: url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }

.homeIcon-FuNwkv path {fill: transparent}
.homeIcon-FuNwkv {
    background: url('https://discord.com/assets/145dc557845548a36a82337912ca3ac5.svg') center/contain no-repeat;
    min-width: 30px;
    min-height: 30px;
}

.nameTag-3uD-yy {
    display:none;
  
}
.nameTag-3uD-yy ~ * {
    flex: 1 1 auto !important;
    justify-content: center;
    position:relative;
    right:49px;
}

.avatarWrapper-2yR4wp {
  position:relative;
  left:93px;
}

#status-picker {
  position:relative;
  right:186px;
}

.container-3baos1::before {
     content: "Made by 4n4#6254";
     color:white;
}
